.firstpage {
  background-color: #171717;
  color: white;
  padding: 40px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

.main-section {
  display: flex;
  flex-direction: row; /* changed from column */
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  gap: 30px;
  flex-wrap: wrap;

}
.left-icons {
  padding-left: 10px;
}


.profile-image {
  flex: 1;
  text-align: center;
}

.profile-image img {
  width: 300px;
  height: auto;
  object-fit: contain;
}

.intro-text {
  flex: 2;
  text-align: left;
}
.social-icons-firstpage {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.social-icons-firstpage a:hover {
  transform: scale(1.1);
}

.social-icons-firstpage img {
  width: 35px;
  height: 35px;
  filter: brightness(1.2);
  margin-bottom: 15px;
}

.name {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.typing-wrapper {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin: 10px 0;
}

.left-icons {
  background-color:rgb(215, 215, 215);
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  z-index: 1000;
  border-radius: 0 10px 10px 0;
}


.bottom-illustration {
  margin-top: 30px;
  text-align: left;
}

.bottom-illustration img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .main-section {
    flex-direction: column; 
    align-items: center;
    text-align: center;
  }

  .profile-image {
    order: 1; 
  }

  .intro-text {
    order: 2; 
  }
  .profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
  }
  .profile-image img {
    width: 250px !important;
    height: 250px;
    object-fit: contain;
    z-index: 100; 
  }

  .name {
    font-size: 1.8rem;
  }

  .typing-wrapper {
    font-size: 1.3rem;
  }

  .left-icons {
    display: none;
  }
.bottom-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-image img {
  width: 100% !important;
  height: auto;
}

}
